# Database
DATABASE_URL=postgresql://user:password@host:5432/dbname

# Migo
MIGO_SECRET=                    # Clave secreta de la app

# Stellar - Cuentas
MERCHANT_PUBLIC=                # Clave pública del comercio
MERCHANT_SECRET=                # Clave privada del comercio
ISSUER_PUBLIC=                  # Clave pública de Migo (source_account para Horizon)
ISSUER_SECRET=                  # Clave privada de Migo

# Stellar - Red
STELLAR_NETWORK=testnet                                       # testnet | mainnet
STELLAR_HORIZON_URL_TESTNET=https://horizon-testnet.stellar.org
STELLAR_HORIZON_URL_MAINNET=https://horizon.stellar.org

# Assets
ISSUER_PUBLIC_ASSET=            # Issuer de USDC
                                # Circle testnet: GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5
                                # Circle mainnet: GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN